---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Slider from "../components/Slider.astro";

import CardProject from "../components/CardProject.astro";

const allTechnologies = [
  {
    name: "Javascript",
    icon: "https://www.svgrepo.com/show/353925/javascript.svg"
  },
  {
    name: "Java",
    icon: "https://www.svgrepo.com/show/452234/java.svg"
  },
  {
    name: "Python",
    icon: "https://www.svgrepo.com/show/452091/python.svg"
  },
  {
    name: "React",
    icon: "https://www.svgrepo.com/show/493719/react-javascript-js-framework-facebook.svg"
  },
  {
    name: "HTML 5",
    icon: "https://www.svgrepo.com/show/452228/html-5.svg"
  },
  {
    name: "CSS 3",
    icon: "https://www.svgrepo.com/show/452185/css-3.svg"
  },
  {
    name: "TailwindCSS",
    icon: "https://www.svgrepo.com/show/374118/tailwind.svg"
  },
  {
    name: "Figma",
    icon: "https://www.svgrepo.com/show/452202/figma.svg"
  },
  {
    name: "Node.js",
    icon: "https://www.svgrepo.com/show/376337/node-js.svg"
  },
  {
    name: "Express",
    icon: "https://adware-technologies.s3.amazonaws.com/uploads/technology/thumbnail/20/express-js.png"
  },
  {
    name: "MongoDB",
    icon: "https://www.svgrepo.com/show/373845/mongo.svg"
  },
  {
    name: "SQL Server",
    icon: "https://www.svgrepo.com/show/303229/microsoft-sql-server-logo.svg"
  },
  {
    name: "Firebase",
    icon: "https://www.svgrepo.com/show/373595/firebase.svg"
  },
  {
    name: "Flutter",
    icon: "https://www.svgrepo.com/show/373604/flutter.svg"
  },
  {
    name: "Kotlin",
    icon: "https://www.svgrepo.com/show/373728/kotlin.svg"
  },
  {
    name: "Android Studio",
    icon: "https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Android_Studio_icon_%282023%29.svg/2048px-Android_Studio_icon_%282023%29.svg.png"
  }
  ]

const projects = [
  {
    title: "Dating App",
    description: "Aplicación de citas diseñada para facilitar la conexión entre personas, ofreciendo una experiencia de usuario intuitiva y segura.",
    image: [
      'https://raw.githubusercontent.com/martinxanton/portfolio/refs/heads/main/public/assets/dateapp_1.png',
      'https://raw.githubusercontent.com/martinxanton/portfolio/refs/heads/main/public/assets/dateapp_2.png',
    ],
    linkCode: "https://github.com/kevin-condezo/dating-app",
    technologies: [
      allTechnologies.find(tech => tech.name === "Java"),
      allTechnologies.find(tech => tech.name === "Firebase"),
      allTechnologies.find(tech => tech.name === "Android Studio")
    ]
  },
  {
    title: "StarGuide",
    description: "Chatbot diseñado para ayudar a startups en su desarrollo inicial. El chatbot proporciona asistencia específica y personalizada a través de perfiles adaptados a diferentes temas y necesidades comunes en las etapas tempranas de una startup",
    image: [
      "https://github.com/martinxanton/Frontend_StartGuide/raw/main/screenshots/captura_7.jpeg",
      "https://github.com/martinxanton/Frontend_StartGuide/raw/main/screenshots/captura_8.jpeg",
    ],
    linkCode: "https://github.com/martinxanton/Frontend_StartGuide",
    linkDemo: "https://martinxanton.github.io/startguide",
    technologies: [
      allTechnologies.find(tech => tech.name === "Javascript"),
      allTechnologies.find(tech => tech.name === "React"),
      allTechnologies.find(tech => tech.name === "Node.js"),
      allTechnologies.find(tech => tech.name === "MongoDB"),
      allTechnologies.find(tech => tech.name === "Express"),
    ]
  },
];

  

 const frontendList = [
  {
    name: "React",
    icon: "https://www.svgrepo.com/show/493719/react-javascript-js-framework-facebook.svg"
  },
  {
    name: "HTML 5",
    icon: "https://www.svgrepo.com/show/452228/html-5.svg"
  },
  {
    name: "CSS 3",
    icon: "https://www.svgrepo.com/show/452185/css-3.svg"
  },
  {
    name: "TailwindCSS",
    icon: "https://www.svgrepo.com/show/374118/tailwind.svg"
  },
  {
    name: "Figma",
    icon: "https://www.svgrepo.com/show/452202/figma.svg"
  }
 ]

 const backendList = [
  {
    name: "Node.js",
    icon: "https://www.svgrepo.com/show/376337/node-js.svg"
  },
  {
    name: "Express",
    icon: "https://adware-technologies.s3.amazonaws.com/uploads/technology/thumbnail/20/express-js.png"
  },
  {
    name: "MongoDB",
    icon: "https://www.svgrepo.com/show/373845/mongo.svg"
  },
  {
    name: "SQL Server",
    icon: "https://www.svgrepo.com/show/303229/microsoft-sql-server-logo.svg"
  },
  {
    name: "Firebase",
    icon: "https://www.svgrepo.com/show/373595/firebase.svg"
  }
 ]

 const mobileList = [
  {
    name: "Flutter",
    icon: "https://www.svgrepo.com/show/373604/flutter.svg"
  },
  {
    name: "Kotlin",
    icon: "https://www.svgrepo.com/show/373728/kotlin.svg"
  }
 ]

---



<!doctype html>
<html lang="es" class="bg-slate-950">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-radial-gradient from-slate-700 to-slate-950">
    <!-- Component: Success Alert With Icon -->
    <div id="alert-copy" class="hidden fixed bottom-10 left-10 items-start gap-4 px-4 py-3 text-sm border rounded border-emerald-100 bg-emerald-50 text-emerald-500" role="alert">
      <!-- Icon -->
      <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5" aria-labelledby="title-01 desc-01">
        <title id="title-01">Copied</title>
        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      <!-- Text -->
      <p>Correo copiado correctamente</p>
    </div>
    <!-- End Success Alert With Icon -->
    <Header />
    <main class="md:w-3/4 lg:w-3/5 md:mx-auto [&_section]:py-20 [&_section]:px-10 ">
      
    <!-- Home Section -->
    <section id="home" class="text-center h-svh -mt-20 max-h-screen flex flex-col items-center justify-center">
      <h1 class="text-4xl md:text-6xl font-bold">Hola, soy Martin</h1>
      <p class="text-xl md:text-2xl mt-2">Ingeniero de Software <span class="text-teal-400">Desarrollador Full Stack</span>.<br />Apasionado por la tecnología</p>
      <div class="border-teal-500 border-2 text-white text-md font-semibold py-2 px-4 rounded-full mt-6">Disponible para trabajar</div>
      <!-- Social links -->
      <div class="flex justify-center gap-4 mt-4">
        <a href="https://linkedin.com/in/martin-anton/" class="text-teal-400 flex gap-2 items-center">
          <svg id='LinkedIn_48' width='20' height='20' viewBox='0 0 48 48' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><rect width='48' height='48' stroke='none' fill='#000000' opacity='0'/>
            <g transform="matrix(2 0 0 2 24 24)" >
            <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: #2dd4bf; fill-rule: nonzero; opacity: 1;" transform=" translate(-15, -15)" d="M 24 4 L 6 4 C 4.895 4 4 4.895 4 6 L 4 24 C 4 25.105 4.895 26 6 26 L 24 26 C 25.105 26 26 25.105 26 24 L 26 6 C 26 4.895 25.105 4 24 4 z M 10.954 22 L 8.004000000000001 22 L 8.004000000000001 12.508 L 10.954 12.508 L 10.954 22 z M 9.449 11.151 C 8.498 11.151 7.729 10.379999999999999 7.729 9.431 C 7.729 8.482 8.499 7.711999999999999 9.449 7.711999999999999 C 10.397 7.711999999999999 11.168 8.482999999999999 11.168 9.431 C 11.168 10.38 10.397 11.151 9.449 11.151 z M 22.004 22 L 19.056 22 L 19.056 17.384 C 19.056 16.283 19.036 14.867 17.523 14.867 C 15.988 14.867 15.751999999999999 16.066000000000003 15.751999999999999 17.304000000000002 L 15.751999999999999 22 L 12.803999999999998 22 L 12.803999999999998 12.508 L 15.633999999999999 12.508 L 15.633999999999999 13.805 L 15.673999999999998 13.805 C 16.067999999999998 13.059 17.029999999999998 12.272 18.464999999999996 12.272 C 21.451999999999998 12.272 22.003999999999998 14.238 22.003999999999998 16.794 L 22.003999999999998 22 z" stroke-linecap="round" />
            </g>
            </svg>
          LinkedIn</a>
        <a href="https://github.com/martinxanton" class="text-teal-400 flex gap-2 items-center">
          <svg id='GitHub_48' width='20' height='20' class="border-teal-400" viewBox='0 0 48 48' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><rect width='24' height='24' stroke='none' fill='#2dd4bf' opacity='0'/>
            <g transform="matrix(1.83 0 0 1.83 24 24)" >
            <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: #2dd4bf; fill-rule: nonzero; opacity: 1;" transform=" translate(-15, -14.82)" d="M 15 3 C 8.373 3 3 8.373 3 15 C 3 20.623 6.872 25.328 12.092 26.630000000000003 C 12.036 26.468 12 26.28 12 26.047 L 12 23.996000000000002 C 11.513 23.996000000000002 10.697 23.996000000000002 10.492 23.996000000000002 C 9.671000000000001 23.996000000000002 8.941 23.643 8.587000000000002 22.987000000000002 C 8.194 22.258000000000003 8.126000000000001 21.143 7.152000000000001 20.461000000000002 C 6.863000000000001 20.234 7.083000000000001 19.975 7.416000000000001 20.01 C 8.031 20.184 8.541 20.606 9.021 21.232000000000003 C 9.499 21.859 9.724 22.001 10.617 22.001 C 11.05 22.001 11.698 21.976000000000003 12.308000000000002 21.880000000000003 C 12.636000000000001 21.047000000000004 13.203000000000001 20.28 13.896 19.918000000000003 C 9.9 19.507 7.993000000000001 17.519000000000002 7.993000000000001 14.820000000000004 C 7.993000000000001 13.658000000000005 8.488000000000001 12.534000000000004 9.329 11.587000000000003 C 9.053 10.647 8.706 8.73 9.435 8 C 11.233 8 12.32 9.166 12.581 9.481 C 13.477 9.174 14.461 9 15.495 9 C 16.531 9 17.519 9.174 18.416999999999998 9.483 C 18.675 9.17 19.763 8 21.565 8 C 22.297 8.731 21.946 10.656 21.667 11.594 C 22.503 12.539 22.995 13.66 22.995 14.82 C 22.995 17.517 21.091 19.504 17.101 19.917 C 18.199 20.49 19 22.1 19 23.313 L 19 26.046999999999997 C 19 26.150999999999996 18.977 26.225999999999996 18.965 26.314999999999998 C 23.641 24.676 27 20.236 27 15 C 27 8.373 21.627 3 15 3 z" stroke-linecap="round" />
            </g>
            </svg>
          GitHub</a>
        <!-- email -->
        <a id="email" class="text-teal-400 flex gap-2 items-center cursor-pointer ">
          <svg id='mail_20' width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><rect width='20' height='20' stroke='none' fill='#000000' opacity='0'/>
            <g transform="matrix(0.83 0 0 0.83 10 10)" >
            <g style="" >
            <g transform="matrix(1 0 0 1 0 0)" >
            <path style="stroke: none; stroke-width: 2; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;" transform=" translate(-12, -12)" d="M 0 0 L 24 0 L 24 24 L 0 24 z" stroke-linecap="round" />
            </g>
            <g transform="matrix(1 0 0 1 0 0)" >
            <rect style="stroke: #2dd4bf; stroke-width: 2; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;" x="-9" y="-7" rx="2" ry="2" width="18" height="14" />
            </g>
            <g transform="matrix(1 0 0 1 0 -2)" >
            <polyline style="stroke: #2dd4bf; stroke-width: 2; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;" points="-9,-3 0,3 9,-3 " />
            </g>
            </g>
            </g>
            </svg>
          Email</a>
      </div>
    </section>

    <!-- About Section -->
    <section id="about" >
      <h2 class="text-3xl font-bold text-center mb-16">Sobre mí</h2>
      <div class="flex lg:justify-between items-center md:flex-row flex-col gap-10">
        <div class="md:w-2/3 text-justify">
          <p>Mi nombre es Martin Anton, tengo 23 años, y desde la secundaria desarrollé un fuerte interés por la tecnología. Fue en esa etapa donde descubrí mi pasión por el código y poco a poco fui experimentando con el desarrollo de software.</p>
          <p>Actualmente, estudio Ingeniería de Software en la Universidad Nacional Mayor de San Marcos y trabajo como analista de datos en el Banco de la Nación. Mi meta es convertirme en un desarrollador de software profesional, especializado en el desarrollo de aplicaciones web y móviles, con el propósito de crear soluciones innovadoras que generen un impacto positivo en el mundo.</p>
        </div>
        <img src="https://raw.githubusercontent.com/martinxanton/portfolio/refs/heads/main/public/assets/photo.jpg" alt="" class="lg:h-60 lg:w-60 h-40 w-40 rounded-full">
      </div>
      
    </section>

    <!-- Education Section -->
    <section id="education">
      <h2 class="text-3xl font-bold text-center mb-16">Educación</h2>
      <div>
        <h3 class="text-2xl font-semibold mb-2">Ingeniería de Software</h3>
        <p class="text-gray-300">Universidad Nacional Mayor de San Marcos</p>
        <p class="text-gray-400">2020 - Actualidad (X Ciclo)</p>
      </div>
      </div>
    </section>

    <!-- Skills Section -->
    <section id="skills" >
      <h2 class="text-3xl font-bold text-center mb-16">Habilidades</h2>
      <div class="flex flex-col">
        <div class="py-6">
          <h2 class="text-2xl font-semibold mb-4">Frontend</h2>
          <Slider list={frontendList} />
        </div>
        <div class="py-6">
          <h2 class="text-2xl font-semibold mb-4">Backend</h2>
          <Slider list={backendList} />
        </div>
        <div class="py-6">
          <h2 class="text-2xl font-semibold mb-4">Mobile</h2>
          <Slider list={mobileList} />
      </div>
    </section>

    <!-- Experience Section -->
    <section id="experience" >
      <h2 class="text-3xl font-bold text-center mb-16">Experiencia</h2>

      <div class="relative">
        <div class="border-l-4 border-teal-500 absolute h-full left-1/2 transform -translate-x-1/2"></div>
        <div class="space-y-8">
          <div class="flex items-center w-full">
            <div class="w-1/2 pr-8">
              <div>
                <h3 class="text-2xl font-semibold mb-1">Practicante Analista de Datos</h3>
                <h4 class="text-xl font-medium mb-1">Banco de la Nación - Lima, Perú</h4>
                <p class="text-gray-400 font-bold mb-2">Marzo 2021 - Actualidad</p>
                <ul class="list-disc list-inside text-gray-300 text-justify">
                  <li>Desarrollo de interfaces gráficas con Tkinter para la ejecución de procesos de limpieza de datos en Python.</li>
                  <li>Limpieza y procesamiento de datos utilizando Python y C#, optimizando la velocidad en un 70%.</li>
                  <li>Implementación de procesos de carga de datos en .NET, mejorando la eficiencia del sistema.</li>
                  <li>Automatización de informes con macros en Excel, reduciendo tiempos considerablemente.</li>
                </ul>
                <div class="mt-4">
                  <span class="inline-block bg-white text-gray-800 text-sm px-2 py-1 rounded-full mr-2 mb-2">Python</span>
                  <span class="inline-block bg-white text-gray-800 text-sm px-2 py-1 rounded-full mr-2 mb-2">C#</span>
                  <span class="inline-block bg-white text-gray-800 text-sm px-2 py-1 rounded-full mr-2 mb-2">.NET</span>
                  <span class="inline-block bg-white text-gray-800 text-sm px-2 py-1 rounded-full mr-2 mb-2">SQL Server</span>
                  <span class="inline-block bg-white text-gray-800 text-sm px-2 py-1 rounded-full mr-2 mb-2">Excel</span>
                </div>
              </div>
            </div>
            <div class="w-1/2 pl-8">

            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Projects Section -->
    <section id="projects" >
      <h2 class="text-3xl font-bold text-center mb-16">Proyectos</h2>
      <div class="grid gap-8 md:grid-cols-2">
        {projects.map(project => (
          <CardProject 
              title={project.title} 
              description={project.description}, 
              image = {project.image},
              linkDemo = {project.linkDemo},
              linkCode = {project.linkCode},
              mobile = {project.mobile},
              technologies = {project.technologies}
              />
      ))}
      </div>
    </section>
    </main>
    <Footer />
  </body>
  <script>
    const copyEmail = () => {
      const email = "edwin.anton.guerrero@gmail.com"
      navigator.clipboard.writeText(email)
      console.log("Email copied to clipboard")
      const alert = document.getElementById("alert-copy")
      alert?.classList.replace("hidden", "flex")
      setTimeout(() => {
        alert?.classList.replace("flex", "hidden")
      }, 3000)
    }
    document.getElementById("email")?.addEventListener("click", copyEmail)
  </script>
</html>
