---

import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import CardProject from "../components/CardProject.astro";

const projects = [
    {
        title: "Project One",
        description: "Description for project one.",
        image: [
            "https://picsum.photos/id/1081/800/600",
            "https://picsum.photos/id/1082/800/600",
        ],
        linkDemo: "https://example.com/project-one-demo",
        linkCode : "https://example.com/project-one-code"
    },
    {
        title: "Project Two",
        description: "Description for project one.",
        image: [
            "https://picsum.photos/id/1084/800/600",
            "https://picsum.photos/id/1080/800/600",
        ],
        linkDemo: "https://example.com/project-one-demo",
        linkCode : "https://example.com/project-one-code"
    },
    {
        title: "Project Three",
        description: "Description for project one.",
        image: [
            "https://picsum.photos/id/1083/800/600",
            "https://picsum.photos/id/1085/800/600",
        ],
        linkDemo: "https://example.com/project-one-demo",
        linkCode : "https://example.com/project-one-code"
    },
    {
        title: "Project Four",
        description: "Description for project one.",
        image: [
            "https://picsum.photos/id/1086/800/600",
            "https://picsum.photos/id/1087/800/600",
        ],
        linkDemo: "https://example.com/project-one-demo",
        linkCode : "https://example.com/project-one-code"
    },
    {
        title: "Project Five",
        description: "Description for project one.",
        image: [
            "https://picsum.photos/id/1088/800/600",
            "https://picsum.photos/id/1089/800/600",
        ],
        linkDemo: "https://example.com/project-one-demo",
        linkCode : "https://example.com/project-one-code"
    },
    {
        title: "Project Six",
        description: "Description for project one.",
        image: [
            "https://picsum.photos/id/1090/800/600",
            "https://picsum.photos/id/1091/800/600",
        ],
        linkDemo: "https://example.com/project-one-demo",
        linkCode : "https://example.com/project-one-code"
    },
    ];
---

<!DOCTYPE html>
<html lang="en">
<head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
</head>
<body class="bg-gray-100 text-gray-900">
    <Header />
    <main>
        <div class="p-10 lg:p-20">
            <h1 class="text-4xl font-bold mb-8">My Portfolio</h1>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
                {projects.map(project => (
                    <CardProject 
                        title={project.title} 
                        description={project.description}, 
                        image = {project.image},
                        linkDemo = {project.linkDemo},
                        linkCode = {project.linkCode}, />
                ))}
                
            </div>
        </div>
    </main>
    <Footer />
</body>
</html>